/* ------------------------------- General styles ------------------------------- */
* { padding: 0; margin: 0; box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: hsl(228, 11%, 9%);
}

body {
  font-family: 'Overpass', sans-serif; /* 400 - 700 */
  font-size: 1.5rem;
  color: hsl(217, 12%, 63%);
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 34rem;
  height: 36rem;
  border-radius: 1.5rem;
  background-color: hsl(215, 23%, 14%);
  padding: 2.2rem;
}

section { width: 100%; }
button { border: none; cursor: pointer; }
h1 { color: hsl(0, 0%, 100%); margin-bottom: 1.4rem; }
p { line-height: 2.2rem; }
.text-center { text-align: center; }
.alternative-padding { padding: 3rem 2.2rem; }

.circular-container {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-first-section {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-second-section {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.orangeToggle {
  background-color: hsl(25, 97%, 53%);
}

.whiteToggle {
  color: hsl(0, 0%, 100%);
}
/* ------------------------------------------------------------------------------ */
/* -------------------------------- First Section -------------------------------- */
/* Initial State */
.main-first-section_star-icon {
  width: 35%;
  height: 35%;
  background: url("./images/icon-star.svg") no-repeat center;
  background-size: cover;
}
/* ------------- */
/* Second State */
.main-first-section_image-container {
  align-self: center;
  width: auto;
}

.main-first-section_selection-message-container {
  align-self: center;
  padding: 0;
  background-color: hsl(213, 19%, 18%);
  padding: .7rem 1.2rem;
  padding-bottom: .4rem;
  color: hsl(25, 97%, 53%);
  border-radius: 2rem;
}
/* ------------ */
/* ----------------------------------------------------------------------------- */
/* ------------------------------ Second Section ------------------------------ */
.main-second-section > button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  height: 4.4rem;
  font-weight: 700;
  letter-spacing: .2rem;
  border-radius: 3rem;
}

.main-second-section > button:active {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.main-second-section_numbers-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.main-second-section_numbers-buttons button { color: hsl(217, 12%, 63%); }

.main-second-section_numbers-buttons button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
}
/* ---------------------------------------------------------------------------- */